{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<div class="mb-3">
    <h1>Register now and create your <i>Travel Bucket List</i>!</h1>
</div>
<form class="row g-5" action="/join" method="POST">
  <div class="col-md-6">
    <input type="text" autofocus class="form-control" name="username" placeholder="Username" required>
  </div>
  <div class="col-md-6">
    <input class="form-control" name="password" placeholder="Password" type="password" required>
  </div>
  <div class="col-md-6">
    <input type="email" class="form-control" name="email" placeholder="Email" required>
  </div>
  <div class="col-md-6">
    <input class="form-control" name="confirmation" placeholder="Confirm Password" type="password" required>
  </div>
  <div class="col-md-6">
    <input type="text" class="form-control" name="city" placeholder="City" required>
  </div>
  <div class="col-md-6">
    <input type="text" class="form-control" name="state" placeholder="State / Province" required>
  </div>
  <div class="col-md-6">
    <input type="text" class="form-control" name="zip" placeholder="Zip" required>
  </div>
  <div class="col-md-6">
    <input type="text" class="form-control" name="country" placeholder="Country" required>
  </div>
  <div class="col-12">
    <button class="btn btn-primary" type="submit">Submit form</button>
  </div>
</form>
{% endblock %}