{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<div>
    <h1 class="display-5">Life is short!</h1>
    <p class="lead">
        So DREAM and TRAVEL and SEE THE WORLD.
    </p>
    <figure class="w-75 mx-auto">
        <blockquote class="blockquote">
            <p>Stuff your eyes with wonder, live as if you’d drop dead in ten seconds.<br>See the world. It’s more fantastic than any dream made or paid for in factories.</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            Ray Bradbury
        </figcaption>
    </figure>
    <p>
        Login today to begin creating your own personal <i>Travel Bucket List</i>.
    </p>
</div>

    <form action="/login" method="post">
        <div class="mb-3">
            <input autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
    <div class="text-center pt-3">
        <p>Not a member? <a href="/join">Register</a></p>
    </div>
{% endblock %}